.NavbarItems {
  background: #000;
  color: #ffffff;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.nav-menu {
  display: flex;
  list-style: none;
  align-self: center;
  width: 70vw;
  justify-content: center;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0 2rem 0 2rem;
  border-right: 1px solid #e1e1e1;
}

li.navit:last-child .nav-links {
  border-right: 2px solid #000;
}

.nav-links:hover {
  border-bottom: 2px solid #fff;
  color: #fff;
}

.nav-links .ul .li:last-child {
  border-right: 1px solid #a31414;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 500px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #ffffff;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  li.navit:last-child .nav-links {
    border-right: none;
  }

  .nav-links {
    color: #000;
    text-align: left;
    padding: 1rem;
    width: 100%;
    display: table;
    font-weight: bold;
  }

  .nav-links:hover {
    border-bottom: 2px solid rgb(163, 161, 161);
    color: #fff;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: left;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #4ad9e4;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links:hover {
    border-bottom: 3px solid #949494;
    color: #000;
  }
}
